/starparse-shared/target/
/starparse-client/target/
/starparse-client/starparse-attacks.xml
/starparse-client/starparse-timers.xml
/starparse-client/build/starparse.log
/starparse-client/build/starparse.xml
/starparse-client/build/starparse-client.jar
/starparse-client/build/icons/
/starparse-client/build/sounds/
/starparse-client/build/stats/
.idea/
*.log
result
.settings
.project
.classpath
